		<div id="sectionnavbar">
				<ul>					
          <li><%= section_nav_link  :displayname => "Full Calendar", :target => "calendar.html",
                :lastlink => false %></li>
          <li><%= section_nav_link  :displayname => "Social", :target => "social.html",
                :lastlink => false %></li>
          <li><%= section_nav_link  :displayname => "Sync", :target => "sync.html",
                :lastlink => false %></li>					
				</ul>
		</div>