		<div id="sectionnavbar">
				<ul>					
          <li><%= section_nav_link  :displayname => "Introduction", :target => "club.html",
                :lastlink => false %></li>
          <li><%= section_nav_link  :displayname => "Location", :target => "location.html",
                :lastlink => false %></li>
          <li><%= section_nav_link  :displayname => "Membership", :target => "membership.html",
                :lastlink => false %></li>
          <li><%= section_nav_link  :displayname => "Committees", :target => "committees.html",
                :lastlink => false %></li>				
				</ul>
		</div>	