		<div id="footer">
		
			<div id="footertext">
				<p class="text"><strong>The Nottingham Sailing Club  Copyright &copy; <%= copyright_years(2011) %></strong></p>
				<p class="text fineprint">Web site maintained by Chris Abbott</p>
			</div>
			
			<div id="linkbar">
			    <ul>
					<li><a href="./index.html" >Home</a></li>
					<li><a href="./contact.html">Contact us</a></li>
				</ul>
			</div>
			
		</div>