<div id="header">
  
  <div id="textbackground">
  
    <div id="titlearea">
      <h1><img id="logoimage" src="./images/flag-small.png" alt="logo" style="padding-right: 10px"/>Nottingham Sailing Club</h1>	
    </div>
  
  </div> 
  
</div>