<% content_for :head do %>
  <title><%= page_title "Contact Us" %></title>
<% end %>

		<div id="page" class="nosectionnav">
			
			<div id="content">
				<div class="pagetext">
				
					<h2>Contact Details</h2>
	
					<p>Please contact Nottingham Sailing Club by email at:</p>
					
					<div class="highlighttext">
						<h3>Membership</h3>
						<p>For any enquiries about membership of NSC please contact the 
						membership secretary:</p>
						<p><a href="mailto:membership@nottinghamsc.org.uk" >membership@nottinghamsc.org.uk</a></p>
					</div>	

					<div class="highlighttext">
						<h3>Training</h3>
						<p>To find out more about our training courses please contact
						the training secretary:</p>
						<p><a href="mailto:training@nottinghamsc.org.uk" >training@nottinghamsc.org.uk</a></p>
					</div>
					
					<div class="highlighttext">
						<h3>Sailing</h3>
						<p>To find out more about our racing and casual sailing 
						programme please contact the sailing secretary:</p>
						<p><a href="mailto:sailingSecretary@nottinghamsc.org.uk" >sailingSecretary@nottinghamsc.org.uk</a></p>
					</div>
					
					<div class="highlighttext">
						<h3>General Enquiries</h3>
						<p>For all other queries please contact:</p>
						<p><a href="mailto:club@nottinghamsc.org.uk" >club@nottinghamsc.org.uk</a></p>
					</div>
					
					<div class="highlighttext">
						<h3>Clubhouse</h3>
						<p>The Nottingham Sailing Club.<br>
							Adbolton Lane,<br>
							West Bridgford,<br>
							Nottingham.<br>
							NG2 5AS</p>
						<p>Telephone: 0115 982 1127</p>
					</div>	
						
				</div>
			</div>
			
			<div id="sidebar">
	
				<div id="imagelist" >
					<ul>
						<li><img src="./images/DSC05569cs.png" alt="sailing"></li>
						<li><img src="./images/IMG_0944cs.png" alt="sailing"></li>
						<li><img src="./images/IMG_5149cs.png" alt="sailing"></li>
						<li><img src="./images/IMG_5402cs.png" alt="sailing"></li>
					</ul>
				</div>
			</div>
		</div>