<% content_for :head do %>
  <title><%= page_title "Racing" %></title>
<% end %>

    <%= section_name "Personal Handicaps" %>
    <%= partial "partials/racingsectionnav" %>
		
		<div id="page">

			<div id="content">
				<iframe src="http://www.nottinghamsc.org.uk/results/pershand.htm" width="950" height="1000"></iframe>
			</div>

		</div>