<% content_for :head do %>
  <title><%= page_title "Joining" %></title>
<% end %>

		<div id="page">

			<div id="content">
				<div class="pagetext">
				
					<p>Sailors from novices through to capable club sailors are well 
					catered for at the Club.  Those wishing to learn can also join one of our
					 RYA recognised training courses.<br>
					 <br>
					 We run a full racing programme from late March until Boxing Day.</p>
					
					<p>You are more than welcome to visit the Club to find out more.</p>
					
					<p>The Club currently has fleets of Laser, GP14, Topper, Enterprise, 
					Albacore, National Twelve, RS Vareo, Merlin Rocket, Solo, Lark; and 
					welcomes other monohull dinghies without trapeze up to 4.6 metres in 
					length.  Bowsprits may not be deployed during Club racing sessions.</p>
					
				</div>
			
			</div>
			
			<div id="sidebar">
				<img src="./images/committee/PS.png"/>
				
				<div class="title">
					<h3>Phil Sheppard</h3>
					<p>Membership Secretary</p>
				</div>
			</div>
			
	
				
			<%= partial "partials/content/schedule_of_fees" %>
				

			
		</div>