<% content_for :head do %>
  <title><%= page_title "Juniors" %></title>
<% end %>

		<div id="page">

			<div id="content">
				<div class="pagetext">
				
					<h2>Junior Sailing and Training 2012</h2>

					<img src="./images/IMG_5396cs.png" alt="Toppers">

					<h3>Saturdays - 12:30 through Early Afternoon.<br>
21st April through to September with a break in the Summer holidays</h3>
					
					<p>The aim of Junior Sailing is for youngsters to learn basic 
					sailing skills, gain experience and have fun.  Those who are beginners
					 and just learning to sail will be assisted to sail in Toppers on 
					 their own, or to learn the basics in a Club GP14 in the company of 
					 a knowledgable sailor.  The more experienced can gain a greater 
					 understanding of racing, and will be encouraged to compete in the
					  three Junior competitions - the Saturday Plaque, the Cadet Shield
					and the Jane Shore Trophy.  Please remember that organisers are 
					principally dependent on the strength of the wind and the number of
					 adult helpers who are available - the stronger the wind, the more 
					 help that is required!  All children taking part need an adult
					  in attendance.</p>
					  
					<p>Sessions will start at 12:30pm with a race at about 1:45pm</p>

					<p>If you have any questions please do not hesitate to contact 
					David Howard on the Junior Training e-mail account, or talk to:
					<ul><li>Mark Jenkinson</li><li>Marc Gadsby</li><li>Nigel Nurse</li>
					</ul></p>

					<img src="./images/IMG_5421cs.png" alt="Toppers">
					
					<h2>Junior Racing 2012</h2>
					
					<div class="highlighttext">
					<h3>Saturday Plaque</h3>
					<h4>Saturdays 28th April - 7th July<br>13:45</h4>
					<p>Under 18 on 1st January of the Calendar year of the event. 
					The Club Toppers will be available for use in these Races.</p>
					</div>
					
					<div class="highlighttext">
					<h3>Cadet Shield</h3>
					<h4>Saturday 14th July - 10:30<br>
					3 races scheduled - see SI 14.2</h4>
					<p>Under 14 on 1st January of the Calendar year of the event. 
					The Club Toppers will be available for use in these Races.</p>
					</div>
					
					<div class="highlighttext last">
					<h3>Jane Shore Trophy</h3>
					<h4>Saturday 29th September - 10:30<br>
					3 races scheduled - see SI 14.2</h4>
					<p>Under 18 on 1st January of the Calendar year of the event. 
					Competitors to provide boats. General Handicap</p>
					</div>
				</div>
			</div>
			
			<div id="sidebar">
				<div id="imagelist" >
					<ul>
						<li><img src="./images/committee/nopic.png"></li>
						<li><div class="title">
							<h3>David Howard</h3>
							<p>Junior Training organiser</p>
						</div></li>
						<li><img src="./images/IMG_5400cs.png" alt="sailing"></li>
						<li><img src="./images/DSC05525cs.png" alt="sailing"></li>
						<li><img src="./images/IMG_5808cs.png" alt="sailing"></li>
						<li><img src="./images/IMG_5402cs.png" alt="sailing"></li>
					</ul>
				</div>
			</div>
		</div>