<% content_for :head do %>
  <title><%= page_title "About" %></title>
<% end %>

    <%= section_name "Location" %>
    <%= partial "partials/clubsectionnav" %>	

		<div id="page">

			<div id="content">
				<div class="pagetext">
					<div class="highlighttext">
						<h3>The Nottingham Sailing Club.</h3>
						<p>Adbolton Lane,<br>
							West Bridgford,<br>
							Nottingham.<br>
							NG2 5AS</p>
						<p>Telephone: 0115 982 1127</p>
					</div>
					
					<p>By car, follow signs for the National Water Sports Centre.</p>
				</div>
					
				<div style="padding-left: 20px; padding-right=20px;">
					<iframe width="910" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=204682394266176060833.0004658eb809c6a3c6626&amp;t=h&amp;ll=52.940673,-1.091595&amp;spn=0.031035,0.081453&amp;z=14&amp;output=embed"></iframe>
					<br/>
					<small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=204682394266176060833.0004658eb809c6a3c6626&amp;t=h&amp;ll=52.940673,-1.091595&amp;spn=0.031035,0.081453&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">NSC</a> in a larger map</small>
				</div>
			</div>
			
			<div id="sidebar">
				<div id="imagelist">
					<ul>
						<li><img src="./images/DSC05525cs.png" alt="sailing"></li>
					</ul>
				</div>
			</div>
		</div>