<% content_for :head do %>
  <title><%= page_title "About" %></title>
<% end %>

    <%= section_name "Membership" %>
    <%= partial "partials/clubsectionnav" %>	

		<div id="page">

			
			
			<div id="content">
				<div class="pagetext">
				
					<p>Sailors from novices through to capable club sailors are well 
					catered for at the Club.  Those want to learn can also join one of our
					 RYA recognised training courses.<br>
					 <br>
					 We run a full racing programme from late March until Boxing Day.</p>
				         
				</div>
				
				
			
			</div>
			
			<div id="sidebar">
				<img src="./images/committee/PS.png"/>
				
				<div class="title">
					<h3>Phil Sheppard</h3>
					<p>Membership Secretary</p>
				</div>
								
			</div>
				
			<%= partial "partials/content/schedule_of_fees" %>
				
		</div>