<% content_for :head do %>
  <title><%= page_title "Racing" %></title>
<% end %>

    <%= section_name "Open Meetings" %>
    <%= partial "partials/racingsectionnav" %>
		
		<div id="page">
			
			<div id="content">

				<div class="pagetext">
					<h2>Open Meetings 2012</h2>
					
					<table border="2">
						<tr>
							<th>Event</th>
							<th>Day</th>
							<th>Date</th>
						</tr>
						<tr>
							<td>Classic and Vintage Racing Dinghy Association<br>
							<a href="../calendar/oldBoatsWeekendPoster.pdf">Old Boats Weekend. Information - Poster</a></td>
							<td>Saturday<br>Sunday</td>
							<td>19th-20th May</td>
						</tr>
						<tr>
							<td><a href="../calendar/trentTripartite2012.pdf">Trent Tripartite GH at Attenborough SC</a><br>
							Nottingham SC, Attenborough SC and TrentValley SC</td>
							<td>Sunday</td>
							<td>5th August</td>
						</tr>
						<tr>
							<td><a href="../calendar/christmasSeriesOmPoster.html">CHRISTMAS SERIES</a></td>
							<td>Most<br>Sundays</td>
							<td>2nd September<br>to 23rd December</td>
						</tr>
						<tr>
							<td><a href="../calendar/lasOmPoster.html">LASER</a></td>
							<td>Sunday</td>
							<td>30th September</td>
						</tr>
						<tr>
							<td><a href="../calendar/gp14OmPoster.html">GP 14</a></td>
							<td>Sunday</td>
							<td>14th October</td>
						</tr>
						<tr>
							<td><a href="../calendar/entOmPoster.html">ENTERPRISE</a></td>
							<td>Sunday</td>
							<td>14th October</td>
						</tr>
						<tr>
							<td><a href="../calendar/albOmPoster.html">ALBACORE</a></td>
							<td>Sunday</td>
							<td>28th October</td>
						</tr>
						<tr>
							<td><a href="../calendar/boxingDayOmPoster.html">BOXING DAY PURSUIT</a></td>
							<td>Wednesday</td>
							<td>26th December</td>
						</tr>
					</table>
					
					<div class="highlighttext">
							<h3>Sundays and Bank Holidays</h3> 
							<p>Light lunches are available at the Club on Sundays and Bank 
							Holidays.</p>
					</div>
					
					<div class="highlighttext last">
							<h3>Licensed bar</h3> 
							<p>During most club sessions our licensed bar will be open - 
							please use this facility - it is very reasonably priced and 
							offers a good choice of drinks (soft and alcoholic) and snacks.
							<br><br>
							<b>Just a reminder: it is against our Club Rules to drink alcohol
							 not purchased on the premises.</b></p>
					</div>
				</div>

			</div>

			<div id="sidebar">
				
			</div>
		</div>