<% content_for :head do %>
  <title><%= page_title "Calendar" %></title>
<% end %>

    <%= section_name "Sync" %>
    <%= partial "partials/calendarsectionnav" %>
		
		<div id="committeepage">
		
			<div id="content">
				
				<div class="pagetext">
					<div class="navbox">
						<div class="title">Links for Calendar syncing</div>					
						<div class="links">
							<ul>
								<li><a href="https://www.google.com/calendar/ical/webmaster%40nottinghamsc.org.uk/public/basic.ics">iCal</a></li>
								<li><a href="https://www.google.com/calendar/feeds/webmaster%40nottinghamsc.org.uk/public/basic">XML</a></li>
								<li><a href="https://www.google.com/calendar/embed?src=webmaster%40nottinghamsc.org.uk&ctz=Europe/London">HTML</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>