<% content_for :head do %>
  <title><%= page_title "Racing" %></title>
<% end %>

    <%= section_name "Trophy Winners" %>
    <%= partial "partials/racingsectionnav" %>
		
		<div id="page">

			<div id="content">
				<!-- <iframe src="http://www.nottinghamsc.org.uk/results/nscResults.html" width="950" height="1000"></iframe> -->
				<iframe src="./results/trophyWinners.html" width="950" height="1000"></iframe>
			</div>

		</div>